@model IEnumerable<CISS411_Project.Models.Session>

<h2>@Model.FirstOrDefault().Coach.Name</h2>
@{ 
    if (Model.Count() < 1)
    {
        <p>You don't have any sessions yet. <a asp-for="AddSession">Add a Session</a></p>
    }
    else
    {
        <h3>All Sessions</h3>
        <table border="1">
            <tr>
                <th>Session ID</th>
                <th>Skill Level</th>
                <th>Seat Capacity</th>
                <th>Post Report</th>
            </tr>
            @foreach (var session in Model)
            {
                <tr>
                    <td>@session.SessionId</td>
                    <td>@session.Lesson.SkillLevel</td>
                    <td>@session.SeatsAvailable</td>
                    <td>
                        @*@if (session.Enrollments.Equals(null))
                        {
                            <p>No Swimmers Enrolled in the Session</p>
                        }
                        else
                        {*@
                       <a asp-controller="Coach" asp-action="PostReport" asp-route-id="@session.SessionId">Post Report</a>
                        
                    </td>
                </tr>
            }
        </table>
    }
}
<p><a asp-controller="Coach" asp-action="Index">Return to Coach Home</a></p>